# Основные зависимости
requests==2.31.0
selenium==4.15.2
pytest==7.4.3

# Для генерации отчетов Allure
allure-pytest==2.13.2
allure-python-commons==2.13.2

# Дополнительные зависимости (если используются)
pytest-xdist==3.3.1  # Для параллельного запуска тестов
webdriver-manager==3.8.6  # Для автоматического управления драйверами
